<div class="container">
    <div class="row">
        {{#each posts as |post|}}
        <div class="card row">
            <div class="card-header col-md-6">
                <a href="./blogpost/{{id}}">
                <h2> {{post.post_title}}</h2>
                </a>
                <h3>Posted by {{user.username}} on {{format_date post.post_date}}</h3>
            </div>
            <div class="card-body">
                <p>{{post.post_content}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>
